<!-- app/views/pages/_contact_form.html.erb -->

<%= form_for @contact, url: pages_path, remote: true do |f| %>
    <div class="col-md-6">
        <%= f.label :name, 'Name:' %></br>
        <%= f.text_field :name, required: true, class: "contact-form-text-area" %></br>
		
		<%= f.label :Company, 'Company:' %></br>
        <%= f.text_field :Company, required: true, class: "contact-form-text-area" %></br>
	
		<%= f.label :Phone_Number, 'Phone Number:'%></br>
        <%= f.text_field :Phone_Number, required: true, class: "contact-form-text-area" %></br>
		
		<%= f.label :service_interest, 'Service Interest:' %></br>
        <%= f.text_field :service_interest, required: true, class: "contact-form-text-area" %></br>

        <%= f.label :email, 'Email:' %></br>
        <%= f.text_field :email, required: true, class: "contact-form-text-area" %></br>
		 
     </div>
	 
	 
	  <div class="col-md-6">
      <%= f.label :message %></br>
      <%= f.text_area :message, rows: 5, cols: 30, required: true, class: "contact-form-text-area",
                        placeholder: "Please Contact us with questions, we would be happy to get back with you"%></br>
	 <h4><center>Thank you for filling out this contact information, please click the button below to continue!</center></h4>
	 
	 </br>
	 
	 </div>
	 <div class="col"><center>
	 <%= f.submit 'Submit Here!', class: 'button type="button" class="btn btn-info">Info</button' %>
	 </center></div>
	

  
	

	 
   
  <% end %>
  <div class="col-md-9" id="flash-message">
    <%= render 'flash' %>
  </div>
  </br>